* {
	margin: 0;
	padding: 0;
}

@keyframes glitch {
	0% {left: 0; filter: hue-rotate(0deg);}
	10% {left: 4px;}
	20% {left: -6px;}
	30% {left: 8px; top: 0;}
	40% {left: -15px; top: -5px;}
	50% {left: 20px; top: 0;}
	70% {left: -25px; top: 0;}
	80% {left: 29px; top: 10px;}
	90% {left: -35px; top: 0;}
	100% {left: 40px; top: 0; filter: hue-rotate(360deg);}
}

.img,
.img:after {
	background-image: url(P6130056.JPG);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.img {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.img::after {
	mix-blend-mode: hard-light;
	z-index: 100;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.img:hover::after {
	animation: glitch 0.2s infinite;
}