.wrapper {
    width: 30%;
    padding: 10px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    box-shadow: 3px 2px 5px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}
span {
    font-size: 24px;
}
input {
    border: 1px solid #aaa;
}
button {
    background-color: transparent;
    outline: none;
    border: 1px solid #aaa;
    color: #333;
    cursor: pointer;
}
button:hover {
    background-color: #aaa;
}
.bad {
    background-color: red;
}
.good {
    background-color: green;
}
.result {
    transition: .2s ease;
}