body {
	font-size: 18px;
	font-family: sans-serif;
	margin: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
}
.child-transition,
.child-transition *{
	transition: 0.2s ease;
}
.transition {
	transition: 0.2s ease;
}
.nav {
	margin: 0 auto;
	padding-top: 50px;
	width: 100%;
}
.nav li {
	cursor: pointer;
}
.nav ul {
	margin: 0 auto;
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 25%;
}