body,
body * {
	transition: 0.2s ease;
}
.b {
	background-color: #251f46;
}
.b .nav li {
	padding: 5px 12px;
	transition: 0.2s ease;
	box-shadow: 0 8px 10px -8px (255, 255, 255, 0.5)
}
.b .nav li:hover {
	box-shadow: 0 8px 10px 0px rgba(255, 255, 255, 0.2)
}
.b .nav li a{
	color: #be7bfd;
}
.b .block {
	width: 100px;
	height: 100px;
	position: absolute;
	transform: rotate(20deg);
	opacity: 0.9;
}
.b .block_1 {
	background-color: #055a79;
	top: 40px;
	left: 60px;
	width: 180px;
	height: 180px;
}
.b .block_2 {
	background-color: #1da95c;
	top: 250px;
	left: 20px;
	width: 300px;
	height: 300px;
}
.b .block_3 {
	background-color: #400688;
	top: 300px;
	left: 300px;
	width: 170px;
	height: 170px;
}
.b .block_4 {
	background-color: #118b7e;
	top: 500px;
	left: 200px;
	width: 200px;
	height: 200px;
}
.b .block_5 {
	background-color: #22700a;
	top: 620px;
	left: 100px;
	width: 120px;
	height: 120px;
}
.b .block_6 {
	background-color: #1acbe0;
	top: 20px;
	left: 250px;
	width: 120px;
	height: 120px;
}
.b .block_7 {
	background-color: #08901e;
	top: 70px;
	right: -40px;
	width: 300px;
	height: 300px;
}
.b .block_8 {
	background-color: #2d8631;
	top: 315px;
	right: -150px;
	width: 200px;
	height: 200px;
}
.b .block_9 {
	background-color: #064981;
	top: 550px;
	right: -200px;
	width: 300px;
	height: 300px;
}


/*==============*/
.w {
	background-color: #f8f7e2;
}
.w .nav li {
	padding: 5px 12px;
	transition: 0.2s ease;
	box-shadow: 0 8px 10px -8px rgba(0, 0, 0, 0.5);
	color: #2869e1;
}
.w .nav li:hover {
	box-shadow: 0 8px 10px 0px rgba(0, 0, 0, 0.2)
}
.w .block {
	width: 100px;
	height: 100px;
	position: absolute;
	transform: rotate(-20deg);
	opacity: 0.6;
}
.w .block_1 {
	background-color: #cff254;
	top: 40px;
	left: 60px;
	width: 180px;
	height: 180px;
}
.w .block_2 {
	background-color: #ead91b;
	top: 250px;
	left: 20px;
	width: 300px;
	height: 300px;
}
.w .block_3 {
	background-color: #ea951b;
	top: 300px;
	left: 300px;
	width: 170px;
	height: 170px;
}
.w .block_4 {
	background-color: #f4cf94;
	top: 500px;
	left: 200px;
	width: 200px;
	height: 200px;
}
.w .block_5 {
	background-color: #ed6666;
	top: 620px;
	left: 100px;
	width: 120px;
	height: 120px;
}
.w .block_6 {
	background-color: #e0521a;
	top: 20px;
	left: 250px;
	width: 120px;
	height: 120px;
}
.w .block_7 {
	background-color: #e3891e;
	top: 70px;
	right: -40px;
	width: 300px;
	height: 300px;
}
.w .block_8 {
	background-color: #b5ed3d;
	top: 315px;
	right: -150px;
	width: 200px;
	height: 200px;
}
.w .block_9 {
	background-color: #b5de89;
	top: 550px;
	right: -200px;
	width: 300px;
	height: 300px;
}
