body {
	margin: 0;
	padding: 0;
}

.background {
	background-image: url(logo.jpg);
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.news-wrapper {
	background-color: #ccc;
	width: 700px;
	height: 300px;
	margin-top: 300px; 
	margin-left: 150px;
}

.about-us {
	margin-top: 200px;
	margin-left: 150px;
	height: 100px;
	background-color: #ccc;
	width: 200px;
}